.main-home {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://external-preview.redd.it/1cF1RegPa5GF0ikMOZ7YfN_g-GeirkmpRxSqbblCSsg.png?auto=webp&s=42af368cb2e0cf58d11c9ca0d9cbddee58a66cb5') no-repeat center center;
    transition: background-image 2s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        z-index: 1;
    }

    & > * {
        position: relative;
        z-index: 2;

    }

}

.section-search {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s forwards;

    @include responsive(tablet) {
        width: 100%;

        .logo-container {
            img {
                width: 18rem;
            }

        }
    }

    .search-container {
        display: flex;
        flex-direction: column;

        @include responsive(tablet) {
            width: 100%;
            
        }

        .search-options {
            margin: $gutter / 2 0 .2rem $gutter / 2;

            @include responsive(tablet) {
                width: 75%;
                margin-inline: auto;
                
            }

            a {
                text-decoration: none;
                font-size: 1.1rem;
                cursor: pointer;
                color: $grey-color;

                @include responsive(tablet) {
                    font-size: 1.3rem;
                    

                }
    

                &.active {
                    color: $light-color;

                }

                &:hover {
                    color: $light-color;
                }

            }
            
            span {
                font-size: 1rem;
            }

        }

        .search-bar {
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(1.5rem);
            border-radius: 2.5rem;
            width: 100%;

            @include responsive(tablet) {
                width: 80%;
                margin: 0 auto;
                position: relative;
                
            }
            
            input {
                font-family: 'Poppins', sans-serif;
                border: none;
                background: none;
                padding: 1.2rem 2rem;
                outline: none;
                color: $light-color;
                font-size: 1.4rem;
                width: 45rem;
                
                caret-color: $primary-color;
                cursor: $primary-color;


                &::placeholder {
                    color: $grey-color;
                }

                
            }

            .search-btn {
                padding-right: 2rem;
                display: flex;
                cursor: pointer;

            }
            position: relative;
      
        }

        .info {
            position: absolute;
            color: $primary-color;
            bottom: -11%;
            left: 3%;
            font-size: 1.1rem;
            opacity: 0; 

            @include responsive(tablet) {
                bottom: -9%;
                left: 12%;
                font-size: 1.3rem;

            }
      
            &.fadeIn {
                animation: fadeLeft 1s forwards;

            }

            &.fadeOut {
                animation: fadeRight 1s forwards;
            }
        }

    }

}

.footer-home {
    margin-top: auto;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 2rem;
    opacity: 0;
    display: flex;
    animation: fadeLeft 1s .8s forwards;
    flex-wrap: wrap;

    @include responsive(laptop) {
        padding: 5.5rem 2rem;

    }

    @include responsive(tablet) {
        justify-content: flex-start;
        
    }
   
    .weather-forecast {
        display: flex;
        align-items: flex-end;
        gap: $gutter / 2;
        @include responsive(tablet) {
            gap: $gutter;
            align-items: center;
            
        }

        .weather-temperature {
            font-family: 'Poppins', sans-serif;
            font-size: 9.6rem;
            font-weight: 300;
            line-height: .8;
            @include responsive(tablet) {
                align-items: center;
                
            }

            @include responsive(mobile) {
                font-size: 7rem;
                
            }

        }

        .weather-description {
            display: flex;
            flex-direction: column;

            .container {
                display: flex;
                align-items: center;
                gap: $gutter;

                .city-name {
                    font-size: 2.8rem;
                    font-weight: 400;
                    line-height: 1.3;

                    @include responsive(mobile) {
                        font-size: 2.5rem;
                        line-height: 1.7;

                    }
    
                }
    
                .date-container {
                    font-size: 1.6rem;
                    font-weight: 300;

                    @include responsive(mobile) {
                        font-size: 1.2rem;
                        
    
                    }
                }

                .icon {
                    img {
                        width: 8rem;
                        @include responsive(mobile) {
                            width: 5rem;

                        }
                    }
                }

            }

        }

        .weather-details {
            display: flex;
            gap: $gutter / 3;
            margin-top: .5rem;

            .container {
                display: flex;
                align-items: center;
                gap: $gutter / 4;

                &:nth-child(4), &:last-child {
                    gap: .2rem;

                }

                img {
                    width: 2rem;                

                }
                
                span {
                    font-size: 1.2rem;
                    font-weight: 300;

                    @include responsive(mobile) {
                        font-size: 1.1rem;
                        
    
                    }

                    
                }
            }
        }

    }

    .open-aside {
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: 1.5rem;
        transform: translate(-50%);

        @include responsive(laptop) {
            bottom: .5rem;
            img {
                width: 3rem;
            }
        }
    

    }

    .social-media {
        display: flex;
        align-items: flex-end;
        gap: $gutter / 3;
        
        @include responsive(tablet) {
            display: none;
            
        }

        a {
            width: 2rem;

           img {
                @include responsive(tablet) {
                    width: 2rem;
                    
                }
           }

            &:first-child {
                margin-right: .5rem;
            }

        }

    }

}

.aside-forecast {
    margin-top: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter / 2;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(2.5rem);
    animation: fadeBottom 1s forwards;
    
    
    &.down {
        animation: fadeTop 1.5s forwards;

    }

    header {
        display: flex;
        gap: $gutter / 2;
        align-items: center;
        padding: .5rem;

        @include responsive(tablet) {
            width: 90vw;
            margin-inline: auto;

        }

        marquee {
            width: 50rem;

            

            span {
                color: $primary-color;
                font-weight: 400;
            }

        }

    }

    section {
        display: flex;
        gap: $gutter / 2;
        justify-content: center;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        padding: 1.5rem 0;
        width: 95vw;
        
        @media (max-width: 1300px) {
            justify-content: flex-start;
            

        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gutter;
            backdrop-filter: blur( .4rem );
            border-radius: .5rem .5rem 0 0;
            font-family: 'DM Sans', sans-serif;
            padding: 2rem 2.7rem;
            position: relative;
            cursor: pointer;
            transition: .2s;
            scroll-snap-align: start;

            &:hover {
                transform: scale(1.1);
                background-color: rgba(47, 54, 61, .4);
            
            }

            &::after {
                content: '';
                width: 100%;
                height: .3rem;
                position: absolute;
                bottom: -.3rem;
                background-color: $primary-color;
                left: 0;

            }

            & > p {
                font-size: 1.8rem;
                font-weight: 500;
                color: $primary-color;
            
            }

            .container {
                display: flex;
                align-items: center;
                gap: $gutter / 2;

                .weather {
                    p:first-child {
                        font-size: 2.4rem;
                        font-weight: 500;

                    }
                    p:last-child {
                        font-size: 2.4rem;
                        font-weight: 400;

                    }

                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: $gutter / 4;
                    margin-left: 1rem;
                    display: none;

                    .container {
                        display: flex;
                        align-items: center;

                        img {
                            width: 2rem;
                        }

                        span {
                            font-size: 1.2rem;
                            width: 6rem;
                        }
                    }
                }
            }

            &:hover .container .content {
                animation: fadeInSlowed 2s forwards;
                display: flex;
                
            }

        
            img {
                width: 8rem;

            }

        }

    }

    footer {
        .close-aside {
            cursor: pointer;

        }

    }

}