* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://images.unsplash.com/photo-1477847616630-cf9cf8815fda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80') no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}